{"openapi":"3.1.0","info":{"title":"Core","version":"3"},"servers":[{"url":"https://api.doppler.com/"}],"components":{"securitySchemes":{"sec0":{"type":"http","scheme":"basic"}}},"security":[{"sec0":[]}],"paths":{"/v3/projects":{"get":{"summary":"List","description":"Projects","operationId":"project-list","parameters":[{"name":"page","in":"query","description":"Page number","schema":{"type":"integer","format":"int32","default":1}},{"name":"per_page","in":"query","description":"Items per page","schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"page\": 1,\n  \"projects\": [\n    {\n      \"id\": \"ed0c2a68b6\",\n      \"slug\": \"compression\",\n      \"name\": \"Compression\",\n      \"description\": \"Super rad middle-out compression algo.\",\n      \"created_at\": \"2019-03-26T03:16:20.233Z\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"page":{"type":"integer","example":1,"default":0},"projects":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"ed0c2a68b6"},"slug":{"type":"string","example":"compression"},"name":{"type":"string","example":"Compression"},"description":{"type":"string","example":"Super rad middle-out compression algo."},"created_at":{"type":"string","example":"2019-03-26T03:16:20.233Z"}}}}}}}}}},"deprecated":false},"post":{"summary":"Create","description":"Project","operationId":"project-create","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"Name of project","default":"PROJECT_NAME"},"description":{"type":"string","description":"Description of project","default":"PROJECT_DESCRIPTION"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"project\": {\n    \"id\": \"ed0c2a68b6\",\n    \"name\": \"Compression\",\n    \"description\": \"Super rad middle-out compression algo.\",\n    \"created_at\": \"2019-03-26T03:16:20.233Z\"\n  }\n}"}},"schema":{"type":"object","properties":{"project":{"type":"object","properties":{"id":{"type":"string","example":"ed0c2a68b6"},"name":{"type":"string","example":"Compression"},"description":{"type":"string","example":"Super rad middle-out compression algo."},"created_at":{"type":"string","example":"2019-03-26T03:16:20.233Z"}}}}}}}}},"deprecated":false}},"/v3/configs/config/secrets":{"get":{"summary":"List","description":"Secrets","operationId":"config-secret-list","parameters":[{"name":"project","in":"query","description":"Unique identifier for the project object.","required":true,"schema":{"type":"string","default":"PROJECT_NAME"}},{"name":"config","in":"query","description":"Name of the config object.","required":true,"schema":{"type":"string","default":"CONFIG_NAME"}},{"name":"accepts","in":"header","description":"Available options are: **application/json**, **text/plain**","schema":{"type":"string","default":"application/json"}},{"name":"include_dynamic_secrets","in":"query","description":"Whether or not to issue leases and include dynamic secret values for the config","schema":{"type":"boolean","default":false}},{"name":"dynamic_secrets_ttl_sec","in":"query","description":"The number of seconds until dynamic leases expire. Must be used with `include_dynamic_secrets`. Defaults to 1800 (30 minutes).","schema":{"type":"integer","format":"int32","default":1800}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"secrets\": {\n    \"STRIPE\": {\n      \"raw\": \"sk_test_9YxLnoLDdvOPn2dfjBVPB\",\n      \"computed\": \"sk_test_9YxLnoLDdvOPn2dfjBVPB\"\n    },\n    \"ALGOLIA\": {\n      \"raw\": \"N9TOPUCTO\",\n      \"computed\": \"N9TOPUCTO\"\n    },\n    \"DATABASE\": {\n    \t\"raw\": \"${USER}@aws.dynamodb.com:9876\",\n      \"computed\": \"brian@aws.dynamodb.com:9876\"\n    },\n    \"USER\": {\n    \t\"raw\": \"brian\",\n      \"computed\": \"brian\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"secrets":{"type":"object","properties":{"STRIPE":{"type":"object","properties":{"raw":{"type":"string","example":"sk_test_9YxLnoLDdvOPn2dfjBVPB"},"computed":{"type":"string","example":"sk_test_9YxLnoLDdvOPn2dfjBVPB"}}},"ALGOLIA":{"type":"object","properties":{"raw":{"type":"string","example":"N9TOPUCTO"},"computed":{"type":"string","example":"N9TOPUCTO"}}},"DATABASE":{"type":"object","properties":{"raw":{"type":"string","example":"${USER}@aws.dynamodb.com:9876"},"computed":{"type":"string","example":"brian@aws.dynamodb.com:9876"}}},"USER":{"type":"object","properties":{"raw":{"type":"string","example":"brian"},"computed":{"type":"string","example":"brian"}}}}}}}}}}},"deprecated":false},"post":{"summary":"Update","description":"Secrets","operationId":"config-secret-update","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["project","config","secrets"],"properties":{"project":{"type":"string","description":"Unique identifier for the project object.","default":"PROJECT_NAME"},"config":{"type":"string","description":"Name of the config object.","default":"CONFIG_NAME"},"secrets":{"type":"object","description":"Object of secrets you would like to save to the config. Try it with the sample secrets below:","required":["STRIPE"],"properties":{"STRIPE":{"type":"string","default":"sk_test_9YxLnoLDdvOPn2dfjBVPB"},"ALGOLIA":{"type":"string","default":"N9TOPUCTO"},"DATABASE":{"type":"string","default":"${USER}@aws.dynamodb.com:9876"}}}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"secrets\": {\n    \"STRIPE\": {\n      \"raw\": \"sk_test_9YxLnoLDdvOPn2dfjBVPB\",\n      \"computed\": \"sk_test_9YxLnoLDdvOPn2dfjBVPB\"\n    },\n    \"ALGOLIA\": {\n      \"raw\": \"N9TOPUCTO\",\n      \"computed\": \"N9TOPUCTO\"\n    },\n    \"DATABASE\": {\n    \t\"raw\": \"${USER}@aws.dynamodb.com:9876\",\n      \"computed\": \"brian@aws.dynamodb.com:9876\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"secrets":{"type":"object","properties":{"STRIPE":{"type":"object","properties":{"raw":{"type":"string","example":"sk_test_9YxLnoLDdvOPn2dfjBVPB"},"computed":{"type":"string","example":"sk_test_9YxLnoLDdvOPn2dfjBVPB"}}},"ALGOLIA":{"type":"object","properties":{"raw":{"type":"string","example":"N9TOPUCTO"},"computed":{"type":"string","example":"N9TOPUCTO"}}},"DATABASE":{"type":"object","properties":{"raw":{"type":"string","example":"${USER}@aws.dynamodb.com:9876"},"computed":{"type":"string","example":"brian@aws.dynamodb.com:9876"}}}}}}}}}}},"deprecated":false}},"/v3/configs/config/logs":{"get":{"summary":"List","description":"Config Logs","operationId":"config-log-list","parameters":[{"name":"project","in":"query","description":"Unique identifier for the project object.","required":true,"schema":{"type":"string","default":"PROJECT_NAME"}},{"name":"config","in":"query","description":"Name of the config object.","required":true,"schema":{"type":"string","default":"CONFIG_NAME"}},{"name":"page","in":"query","description":"Page number","schema":{"type":"integer","format":"int32","default":1}},{"name":"per_page","in":"query","description":"Items per page","schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"page\": 1,\n  \"logs\": [\n    {\n      \"id\": \"WaRMMyxHUg4lOKR\",\n      \"text\": \"Defaults were updated which resulted in this config's secrets being modified\",\n      \"html\": \"Defaults were updated which resulted in this config's secrets being modified\",\n      \"rollback\": false,\n      \"created_at\": \"2019-11-19T07:19:01.073Z\",\n      \"config\": \"dev\",\n      \"environment\": \"dev\",\n      \"project\": \"ed0c2a68b6t\",\n      \"user\": {\n        \"email\": \"jake@piedpiper.com\",\n        \"name\": \"Jake Sun\",\n        \"username\": \"jake\",\n        \"profile_image_url\": \"https://www.gravatar.com/avatar/84da5be2b398382c676bfca6b38dae41?s=500&d=retro\"\n      }\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"page":{"type":"integer","example":1,"default":0},"logs":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"WaRMMyxHUg4lOKR"},"text":{"type":"string","example":"Defaults were updated which resulted in this config's secrets being modified"},"html":{"type":"string","example":"Defaults were updated which resulted in this config's secrets being modified"},"rollback":{"type":"boolean","example":false,"default":true},"created_at":{"type":"string","example":"2019-11-19T07:19:01.073Z"},"config":{"type":"string","example":"dev"},"environment":{"type":"string","example":"dev"},"project":{"type":"string","example":"ed0c2a68b6t"},"user":{"type":"object","properties":{"email":{"type":"string","example":"jake@piedpiper.com"},"name":{"type":"string","example":"Jake Sun"},"username":{"type":"string","example":"jake"},"profile_image_url":{"type":"string","example":"https://www.gravatar.com/avatar/84da5be2b398382c676bfca6b38dae41?s=500&d=retro"}}}}}}}}}}}},"deprecated":false}},"/v3/configs/config/logs/log":{"get":{"summary":"Retrieve","description":"Config Log","operationId":"config-log-retrieve","parameters":[{"name":"project","in":"query","description":"Unique identifier for the project object.","required":true,"schema":{"type":"string","default":"PROJECT_NAME"}},{"name":"config","in":"query","description":"Name of the config object.","required":true,"schema":{"type":"string","default":"CONFIG_NAME"}},{"name":"log","in":"query","description":"Unique identifier for the log object.","required":true,"schema":{"type":"string","default":"LOG_ID"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"log\": {\n    \"id\": \"WaRMMyxHUg4lOKR\",\n    \"text\": \"Defaults were updated which resulted in this config's secrets being modified\",\n    \"html\": \"Defaults were updated which resulted in this config's secrets being modified\",\n    \"diff\": [\n      {\n        \"name\": \"STRIPE\",\n        \"added\": \"sk_test_9YxLnoLDdvOPn2dfjBVPB\"\n      },\n      {\n        \"name\": \"ALGOLIA\",\n        \"added\": \"N9TOPUBTO\"\n      }\n    ],\n    \"rollback\": false,\n    \"created_at\": \"2019-11-19T07:19:01.073Z\",\n    \"config\": \"dev\",\n    \"environment\": \"dev\",\n    \"project\": \"ed0c2a68b6\",\n    \"user\": {\n      \"email\": \"jake@piedpiper.com\",\n      \"name\": \"Jake Sun\",\n      \"username\": \"jake\",\n      \"profile_image_url\": \"https://www.gravatar.com/avatar/84da5be2b398382c676bfca6b38dae41?s=500&d=retro\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"log":{"type":"object","properties":{"id":{"type":"string","example":"WaRMMyxHUg4lOKR"},"text":{"type":"string","example":"Defaults were updated which resulted in this config's secrets being modified"},"html":{"type":"string","example":"Defaults were updated which resulted in this config's secrets being modified"},"diff":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"STRIPE"},"added":{"type":"string","example":"sk_test_9YxLnoLDdvOPn2dfjBVPB"}}}},"rollback":{"type":"boolean","example":false,"default":true},"created_at":{"type":"string","example":"2019-11-19T07:19:01.073Z"},"config":{"type":"string","example":"dev"},"environment":{"type":"string","example":"dev"},"project":{"type":"string","example":"ed0c2a68b6"},"user":{"type":"object","properties":{"email":{"type":"string","example":"jake@piedpiper.com"},"name":{"type":"string","example":"Jake Sun"},"username":{"type":"string","example":"jake"},"profile_image_url":{"type":"string","example":"https://www.gravatar.com/avatar/84da5be2b398382c676bfca6b38dae41?s=500&d=retro"}}}}}}}}}}},"deprecated":false}},"/v3/environments/environment":{"get":{"summary":"Retrieve","description":"Environment","operationId":"environment-retrieve","parameters":[{"name":"project","in":"query","description":"The project's name","required":true,"schema":{"type":"string"}},{"name":"environment","in":"query","description":"The environment's slug","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"environment\": {\n    \"id\": \"dev\",\n    \"name\": \"Development\",\n    \"initial_fetch_at\": \"2019-11-21T03:45:47.982Z\",\n    \"created_at\": \"2019-11-19T07:19:00.476Z\",\n    \"project\": \"ed0c2a68b6\"\n  }\n}"}},"schema":{"type":"object","properties":{"environment":{"type":"object","properties":{"id":{"type":"string","example":"dev"},"name":{"type":"string","example":"Development"},"initial_fetch_at":{"type":"string","example":"2019-11-21T03:45:47.982Z"},"created_at":{"type":"string","example":"2019-11-19T07:19:00.476Z"},"project":{"type":"string","example":"ed0c2a68b6"}}}}}}}}},"deprecated":false},"delete":{"summary":"Delete","description":"Environment","operationId":"environment-delete","parameters":[{"name":"project","in":"query","description":"The project's name","required":true,"schema":{"type":"string"}},{"name":"environment","in":"query","description":"The environment's slug","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  success: true\n}"}}}}}},"deprecated":false},"put":{"summary":"Rename","description":"Environment","operationId":"environment-rename","parameters":[{"name":"project","in":"query","description":"The project's name","required":true,"schema":{"type":"string"}},{"name":"environment","in":"query","description":"The environment's slug","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Desired name"},"slug":{"type":"string","description":"Desired slug"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"environment\": {\n    \"id\": \"dev\",\n    \"name\": \"Development\",\n    \"initial_fetch_at\": \"2019-11-21T03:45:47.982Z\",\n    \"created_at\": \"2019-11-19T07:19:00.476Z\",\n    \"project\": \"ed0c2a68b6\"\n  }\n}"}},"schema":{"type":"object","properties":{"environment":{"type":"object","properties":{"id":{"type":"string","example":"dev"},"name":{"type":"string","example":"Development"},"initial_fetch_at":{"type":"string","example":"2019-11-21T03:45:47.982Z"},"created_at":{"type":"string","example":"2019-11-19T07:19:00.476Z"},"project":{"type":"string","example":"ed0c2a68b6"}}}}}}}}},"deprecated":false}},"/v3/projects/project":{"get":{"summary":"Retrieve","description":"Project","operationId":"project-retrieve","parameters":[{"name":"project","in":"query","description":"Unique identifier for the project object.","required":true,"schema":{"type":"string","default":"PROJECT_NAME"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"project\": {\n    \"id\": \"ed0c2a68b6\",\n    \"name\": \"Compression\",\n    \"description\": \"Super rad middle-out compression algo.\",\n    \"created_at\": \"2019-03-26T03:16:20.233Z\"\n  }\n}"}},"schema":{"type":"object","properties":{"project":{"type":"object","properties":{"id":{"type":"string","example":"ed0c2a68b6"},"name":{"type":"string","example":"Compression"},"description":{"type":"string","example":"Super rad middle-out compression algo."},"created_at":{"type":"string","example":"2019-03-26T03:16:20.233Z"}}}}}}}}},"deprecated":false},"delete":{"summary":"Delete","description":"Project","operationId":"project-delete","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["project"],"properties":{"project":{"type":"string","description":"Unique identifier for the project object.","default":"PROJECT_NAME"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  success: true\n}"}}}}}},"deprecated":false},"post":{"summary":"Update","description":"Project","operationId":"project-update","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["project","name"],"properties":{"project":{"type":"string","description":"Unique identifier for the project object.","default":"PROJECT_NAME"},"name":{"type":"string","description":"Name of the project.","default":"PROJECT_NEW_NAME"},"description":{"type":"string","description":"Description of the project.","default":"PROJECT_DESCRIPTION"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"project\": {\n    \"id\": \"ed0c2a68b6\",\n    \"name\": \"Compression\",\n    \"description\": \"Super rad middle-out compression algo.\",\n    \"created_at\": \"2019-03-26T03:16:20.233Z\"\n  }\n}"}},"schema":{"type":"object","properties":{"project":{"type":"object","properties":{"id":{"type":"string","example":"ed0c2a68b6"},"name":{"type":"string","example":"Compression"},"description":{"type":"string","example":"Super rad middle-out compression algo."},"created_at":{"type":"string","example":"2019-03-26T03:16:20.233Z"}}}}}}}}},"deprecated":false}},"/v3/configs":{"post":{"summary":"Create","description":"Create a new branch config.","operationId":"config-create","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["project","environment","name"],"properties":{"project":{"type":"string","description":"Unique identifier for the project object.","default":"PROJECT_NAME"},"environment":{"type":"string","description":"Identifier for the environment object.","default":"ENVIRONMENT_ID"},"name":{"type":"string","description":"Name of the new branch config.","default":"CONFIG_NAME"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"config\": {\n    \"name\": \"prd_aws\",\n    \"root\": false,\n    \"locked\": false,\n    \"initial_fetch_at\": \"2019-11-19T07:32:12.000Z\",\n    \"last_fetch_at\": \"2019-11-19T07:36:10.980Z\",\n    \"created_at\": \"2019-11-19T07:19:00.480Z\",\n    \"environment\": \"prd\",\n    \"project\": \"ed0c2a68b6\"\n  }\n}"}},"schema":{"type":"object","properties":{"config":{"type":"object","properties":{"name":{"type":"string","example":"prd_aws"},"root":{"type":"boolean","example":false,"default":true},"locked":{"type":"boolean","example":false,"default":true},"initial_fetch_at":{"type":"string","example":"2019-11-19T07:32:12.000Z"},"last_fetch_at":{"type":"string","example":"2019-11-19T07:36:10.980Z"},"created_at":{"type":"string","example":"2019-11-19T07:19:00.480Z"},"environment":{"type":"string","example":"prd"},"project":{"type":"string","example":"ed0c2a68b6"}}}}}}}}},"deprecated":false},"get":{"summary":"List","description":"Fetch all configs.","operationId":"config-list","parameters":[{"name":"project","in":"query","description":"The project's name","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number","schema":{"type":"integer","format":"int32","default":1}},{"name":"per_page","in":"query","description":"Items per page","schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"page\": 1,\n  \"configs\": [\n    {\n      \"name\": \"dev\",\n      \"root\": true,\n      \"locked\": true,\n      \"initial_fetch_at\": \"2019-11-19T07:36:12.000Z\",\n      \"last_fetch_at\": \"2019-11-19T07:32:10.980Z\",\n      \"created_at\": \"2019-11-19T07:19:00.480Z\",\n      \"environment\": \"dev\",\n      \"project\": \"ed0c2a68b6\"\n    },\n    {\n      \"name\": \"stg\",\n      \"root\": true,\n      \"locked\": true,\n      \"initial_fetch_at\": null,\n      \"last_fetch_at\": null,\n      \"created_at\": \"2019-11-19T07:19:00.488Z\",\n      \"environment\": \"stg\",\n      \"project\": \"ed0c2a68b6\"\n    },\n    {\n      \"name\": \"prd\",\n      \"root\": true,\n      \"locked\": true,\n      \"initial_fetch_at\": null,\n      \"last_fetch_at\": null,\n      \"created_at\": \"2019-11-19T07:19:00.495Z\",\n      \"environment\": \"prd\",\n      \"project\": \"ed0c2a68b6\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"page":{"type":"integer","example":1,"default":0},"configs":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"dev"},"root":{"type":"boolean","example":true,"default":true},"locked":{"type":"boolean","example":true,"default":true},"initial_fetch_at":{"type":"string","example":"2019-11-19T07:36:12.000Z"},"last_fetch_at":{"type":"string","example":"2019-11-19T07:32:10.980Z"},"created_at":{"type":"string","example":"2019-11-19T07:19:00.480Z"},"environment":{"type":"string","example":"dev"},"project":{"type":"string","example":"ed0c2a68b6"}}}}}}}}}},"deprecated":false}},"/v3/configs/config":{"post":{"summary":"Update","description":"Modify an existing config.","operationId":"config-update","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["project","config","name"],"properties":{"project":{"type":"string","description":"Unique identifier for the project object.","default":"PROJECT_NAME"},"config":{"type":"string","description":"Name of the config object.","default":"CONFIG_NAME"},"name":{"type":"string","description":"The new name of config.","default":"CONFIG_NEW_NAME"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"config\": {\n    \"name\": \"prd_gcp\",\n    \"root\": false,\n    \"locked\": false,\n    \"initial_fetch_at\": \"2019-11-19T07:32:12.000Z\",\n    \"last_fetch_at\": \"2019-11-19T07:36:10.980Z\",\n    \"created_at\": \"2019-11-19T07:19:00.480Z\",\n    \"environment\": \"prd\",\n    \"project\": \"ed0c2a68b6\"\n  }\n}"}},"schema":{"type":"object","properties":{"config":{"type":"object","properties":{"name":{"type":"string","example":"prd_gcp"},"root":{"type":"boolean","example":false,"default":true},"locked":{"type":"boolean","example":false,"default":true},"initial_fetch_at":{"type":"string","example":"2019-11-19T07:32:12.000Z"},"last_fetch_at":{"type":"string","example":"2019-11-19T07:36:10.980Z"},"created_at":{"type":"string","example":"2019-11-19T07:19:00.480Z"},"environment":{"type":"string","example":"prd"},"project":{"type":"string","example":"ed0c2a68b6"}}}}}}}}},"deprecated":false},"get":{"summary":"Retrieve","description":"Fetch a config's details.","operationId":"config-retrieve","parameters":[{"name":"project","in":"query","description":"Unique identifier for the project object.","required":true,"schema":{"type":"string","default":"PROJECT_NAME"}},{"name":"config","in":"query","description":"Name of the config object.","required":true,"schema":{"type":"string","default":"CONFIG_NAME"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"config\": {\n    \"name\": \"prd_aws\",\n    \"root\": false,\n    \"locked\": false,\n    \"initial_fetch_at\": \"2019-11-19T07:32:12.000Z\",\n    \"last_fetch_at\": \"2019-11-19T07:36:10.980Z\",\n    \"created_at\": \"2019-11-19T07:19:00.480Z\",\n    \"environment\": \"prd\",\n    \"project\": \"ed0c2a68b6\"\n  }\n}"}},"schema":{"type":"object","properties":{"config":{"type":"object","properties":{"name":{"type":"string","example":"prd_aws"},"root":{"type":"boolean","example":false,"default":true},"locked":{"type":"boolean","example":false,"default":true},"initial_fetch_at":{"type":"string","example":"2019-11-19T07:32:12.000Z"},"last_fetch_at":{"type":"string","example":"2019-11-19T07:36:10.980Z"},"created_at":{"type":"string","example":"2019-11-19T07:19:00.480Z"},"environment":{"type":"string","example":"prd"},"project":{"type":"string","example":"ed0c2a68b6"}}}}}}}}},"deprecated":false},"delete":{"summary":"Delete","description":"Permanently delete the config.","operationId":"config-delete","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["project","config"],"properties":{"project":{"type":"string","description":"Unique identifier for the project object.","default":"PROJECT_NAME"},"config":{"type":"string","description":"Name of the config object.","default":"CONFIG_NAME"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true}}}}}}},"deprecated":false}},"/v3/environments":{"get":{"summary":"List","description":"Environments","operationId":"environment-list","parameters":[{"name":"project","in":"query","description":"The project's name","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"environments\": [\n    {\n      \"id\": \"dev\",\n      \"name\": \"Development\",\n      \"initial_fetch_at\": \"2019-11-21T03:45:47.982Z\",\n      \"created_at\": \"2019-11-19T07:19:00.476Z\",\n      \"project\": \"ed0c2a68b6\"\n    },\n    {\n      \"id\": \"stg\",\n      \"name\": \"Staging\",\n      \"initial_fetch_at\": null,\n      \"created_at\": \"2019-11-19T07:19:00.484Z\",\n      \"project\": \"ed0c2a68b6\"\n    },\n    {\n      \"id\": \"prd\",\n      \"name\": \"Production\",\n      \"initial_fetch_at\": null,\n      \"created_at\": \"2019-11-19T07:19:00.492Z\",\n      \"project\": \"ed0c2a68b6\"\n    }\n  ],\n  \"page\": 1\n}"}},"schema":{"type":"object","properties":{"environments":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"dev"},"name":{"type":"string","example":"Development"},"initial_fetch_at":{"type":"string","example":"2019-11-21T03:45:47.982Z"},"created_at":{"type":"string","example":"2019-11-19T07:19:00.476Z"},"project":{"type":"string","example":"ed0c2a68b6"}}}},"page":{"type":"integer","example":1,"default":0}}}}}}},"deprecated":false},"post":{"summary":"Create","description":"Environment","operationId":"environment-create","parameters":[{"name":"project","in":"query","description":"The project's name","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name","slug"],"properties":{"name":{"type":"string"},"slug":{"type":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"environment\": {\n    \"id\": \"dev\",\n    \"name\": \"Development\",\n    \"initial_fetch_at\": \"2019-11-21T03:45:47.982Z\",\n    \"created_at\": \"2019-11-19T07:19:00.476Z\",\n    \"project\": \"ed0c2a68b6\"\n  }\n}"}},"schema":{"type":"object","properties":{"environment":{"type":"object","properties":{"id":{"type":"string","example":"dev"},"name":{"type":"string","example":"Development"},"initial_fetch_at":{"type":"string","example":"2019-11-21T03:45:47.982Z"},"created_at":{"type":"string","example":"2019-11-19T07:19:00.476Z"},"project":{"type":"string","example":"ed0c2a68b6"}}}}}}}}},"deprecated":false}},"/v3/configs/config/logs/log/rollback":{"post":{"summary":"Rollback","description":"Config Log","operationId":"config-log-rollback","parameters":[{"name":"project","in":"query","description":"Unique identifier for the project object.","required":true,"schema":{"type":"string","default":"PROJECT_NAME"}},{"name":"config","in":"query","description":"Name of the config object.","required":true,"schema":{"type":"string","default":"CONFIG_NAME"}},{"name":"log","in":"query","description":"Unique identifier for the log object.","required":true,"schema":{"type":"string","default":"LOG_ID"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"log\": {\n    \"id\": \"koVGA1cgzkFnTHx\",\n    \"text\": \"Rolled back log WaRMMyxHUg4lOKR\",\n    \"html\": \"Rolled back log <a  href='https://doppler.internal:3030/workplace/2ada3/enclave/484/configs/2026/logs?id=WaRMMyxHUg4lOKR'>WaRMMyxHUg4lOKR</a>\",\n    \"diff\": [\n      {\n        \"name\": \"STRIPE\",\n        \"removed\": \"sk_test_9YxLnoLDdvOPn2dfjBVPB\"\n      },\n      {\n        \"name\": \"ALGOLIA\",\n        \"removed\": \"N9TOPUBTO\"\n      }\n    ],\n    \"rollback\": true,\n    \"created_at\": \"2019-11-24T02:25:54.761Z\",\n    \"config\": \"dev\",\n    \"environment\": \"dev\",\n    \"project\": \"ed0c2a68b6\",\n    \"user\": {\n      \"email\": \"jake@piedpiper.com\",\n      \"name\": \"Jake Sun\",\n      \"username\": \"jake\",\n      \"profile_image_url\": \"https://www.gravatar.com/avatar/84da5be2b398382c676bfca6b38dae41?s=500&d=retro\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"log":{"type":"object","properties":{"id":{"type":"string","example":"koVGA1cgzkFnTHx"},"text":{"type":"string","example":"Rolled back log WaRMMyxHUg4lOKR"},"html":{"type":"string","example":"Rolled back log <a  href='https://doppler.internal:3030/workplace/2ada3/enclave/484/configs/2026/logs?id=WaRMMyxHUg4lOKR'>WaRMMyxHUg4lOKR</a>"},"diff":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"STRIPE"},"removed":{"type":"string","example":"sk_test_9YxLnoLDdvOPn2dfjBVPB"}}}},"rollback":{"type":"boolean","example":true,"default":true},"created_at":{"type":"string","example":"2019-11-24T02:25:54.761Z"},"config":{"type":"string","example":"dev"},"environment":{"type":"string","example":"dev"},"project":{"type":"string","example":"ed0c2a68b6"},"user":{"type":"object","properties":{"email":{"type":"string","example":"jake@piedpiper.com"},"name":{"type":"string","example":"Jake Sun"},"username":{"type":"string","example":"jake"},"profile_image_url":{"type":"string","example":"https://www.gravatar.com/avatar/84da5be2b398382c676bfca6b38dae41?s=500&d=retro"}}}}}}}}}}},"deprecated":false}},"/v3/logs/log":{"get":{"summary":"Retrieve","description":"Activity Log","operationId":"activity-log-retrieve","parameters":[{"name":"log","in":"query","description":"Unique identifier for the log object.","required":true,"schema":{"type":"string","default":"LOG_ID"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"log\": {\n    \"id\": \"emwk7ra70oem3xa\",\n    \"text\": \"Modified Development defaults in Pied Piper Demo project\",\n    \"html\": \"Modified <a href='/workplace/103/projects/wk7radvodfneb/defaults?stage=dev'>Development's</a> defaults in <a href='/workplace/wk7radvodfneb/pipelines/410'>Pied Piper Demo</a> project\",\n    \"created_at\": \"2019-04-01T21:40:34.891Z\",\n    \"config\": null,\n    \"environment\": \"dev\",\n    \"project\": \"wk7radvodfneb\",\n    \"user\": {\n      \"email\": \"adam@piedpiper.com\",\n      \"name\": \"Adam Smitth\",\n      \"profile_image_url\": \"https://www.gravatar.com/avatar/082c73740a33762db7c5cc7481833e1e?s=500&d=retro\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"log":{"type":"object","properties":{"id":{"type":"string","example":"emwk7ra70oem3xa"},"text":{"type":"string","example":"Modified Development defaults in Pied Piper Demo project"},"html":{"type":"string","example":"Modified <a href='/workplace/103/projects/wk7radvodfneb/defaults?stage=dev'>Development's</a> defaults in <a href='/workplace/wk7radvodfneb/pipelines/410'>Pied Piper Demo</a> project"},"created_at":{"type":"string","example":"2019-04-01T21:40:34.891Z"},"config":{},"environment":{"type":"string","example":"dev"},"project":{"type":"string","example":"wk7radvodfneb"},"user":{"type":"object","properties":{"email":{"type":"string","example":"adam@piedpiper.com"},"name":{"type":"string","example":"Adam Smitth"},"profile_image_url":{"type":"string","example":"https://www.gravatar.com/avatar/082c73740a33762db7c5cc7481833e1e?s=500&d=retro"}}}}}}}}}}},"deprecated":false}},"/v3/workplace":{"get":{"summary":"Workplace","description":"Get information about the specific workplace","operationId":"audit-workplace-retrieve","parameters":[{"name":"settings","in":"query","description":"If true, the api will return more information if the workplace has e.g. SAML enabled and SCIM enabled","schema":{"type":"boolean"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"workplace\": {\n    \"id\": \"188f5\",\n    \"name\": \"Test Workplace\",\n    \"billing_email\": \"billing@test.com\",\n    \"saml_enabled\": false,\n    \"scim_enabled\": false\n  },\n  \"success\": true\n}"}},"schema":{"type":"object","properties":{"workplace":{"type":"object","properties":{"id":{"type":"string","example":"188f5"},"name":{"type":"string","example":"Test Workplace"},"billing_email":{"type":"string","example":"billing@test.com"},"saml_enabled":{"type":"boolean","example":false,"default":true},"scim_enabled":{"type":"boolean","example":false,"default":true}}},"success":{"type":"boolean","example":true,"default":true}}}}}}},"deprecated":false},"post":{"summary":"Update","description":"Workplace","operationId":"workplace-settings-update","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Workplace name"},"billing_email":{"type":"string","description":"Billing email we will send invoices to"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"workplace\": {\n    \"id\": \"fcd76\",\n    \"name\": \"Test\",\n    \"billing_email\": \"billing@test.com\"\n  }\n}"}},"schema":{"type":"object","properties":{"workplace":{"type":"object","properties":{"id":{"type":"string","example":"fcd76"},"name":{"type":"string","example":"Test"},"billing_email":{"type":"string","example":"billing@test.com"}}}}}}}}},"deprecated":false}},"/v3/logs":{"get":{"summary":"List","description":"Activity Logs","operationId":"activity-logs-list","parameters":[{"name":"page","in":"query","description":"Page number","schema":{"type":"string","default":"1"}},{"name":"per_page","in":"query","description":"Items per page","schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"page\": 1,\n  \"logs\": [\n    {\n      \"id\": \"emwk7ra70oem3xa\",\n      \"text\": \"Modified Development defaults in Pied Piper Demo project\",\n      \"html\": \"Modified <a href='/workplace/103/projects/wk7radvodfneb/defaults?stage=dev'>Development's</a> defaults in <a href='/workplace/wk7radvodfneb/pipelines/410'>Pied Piper Demo</a> project\",\n      \"created_at\": \"2019-04-01T21:40:34.891Z\",\n      \"config\": null,\n      \"environment\": \"dev\",\n      \"project\": \"wk7radvodfneb\",\n      \"user\": {\n        \"email\": \"adam@piedpiper.com\",\n        \"name\": \"Adam Smitth\",\n        \"profile_image_url\": \"https://www.gravatar.com/avatar/082c73740a33762db7c5cc7481833e1e?s=500&d=retro\"\n      }\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"page":{"type":"integer","example":1,"default":0},"logs":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"emwk7ra70oem3xa"},"text":{"type":"string","example":"Modified Development defaults in Pied Piper Demo project"},"html":{"type":"string","example":"Modified <a href='/workplace/103/projects/wk7radvodfneb/defaults?stage=dev'>Development's</a> defaults in <a href='/workplace/wk7radvodfneb/pipelines/410'>Pied Piper Demo</a> project"},"created_at":{"type":"string","example":"2019-04-01T21:40:34.891Z"},"config":{},"environment":{"type":"string","example":"dev"},"project":{"type":"string","example":"wk7radvodfneb"},"user":{"type":"object","properties":{"email":{"type":"string","example":"adam@piedpiper.com"},"name":{"type":"string","example":"Adam Smitth"},"profile_image_url":{"type":"string","example":"https://www.gravatar.com/avatar/082c73740a33762db7c5cc7481833e1e?s=500&d=retro"}}}}}}}}}}}},"deprecated":false}},"/v3/configs/config/secret":{"get":{"summary":"Retrieve","description":"Secret","operationId":"config-secret-retrieve","parameters":[{"name":"project","in":"query","description":"Unique identifier for the project object.","required":true,"schema":{"type":"string","default":"PROJECT_NAME"}},{"name":"config","in":"query","description":"Name of the config object.","required":true,"schema":{"type":"string","default":"CONFIG_NAME"}},{"name":"name","in":"query","description":"Name of the secret.","required":true,"schema":{"type":"string","default":"SECRET_NAME"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"name\": \"DATABASE\",\n  \"value\": {\n    \"raw\": \"${USER}@aws.dynamodb.com:9876\",\n    \"computed\": \"brian@aws.dynamodb.com:9876\"\n  }\n}"}},"schema":{"type":"object","properties":{"name":{"type":"string","example":"DATABASE"},"value":{"type":"object","properties":{"raw":{"type":"string","example":"${USER}@aws.dynamodb.com:9876"},"computed":{"type":"string","example":"brian@aws.dynamodb.com:9876"}}}}}}}}},"deprecated":false}},"/v3/configs/config/tokens":{"get":{"summary":"List","description":"Service Tokens","operationId":"config-token-list","parameters":[{"name":"project","in":"query","description":"Unique identifier for the project object.","required":true,"schema":{"type":"string","default":"PROJECT_NAME"}},{"name":"config","in":"query","description":"Name of the config object.","required":true,"schema":{"type":"string","default":"CONFIG_NAME"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"tokens\": [\n    {\n      \"name\": \"AWS Lambda\",\n      \"slug\": \"56c69f96-3045-11ea-978f-2e728ce88125\",\n      \"created_at\": \"2019-11-19T07:19:01.073Z\",\n      \"config\": \"dev\",\n      \"environment\": \"dev\",\n      \"project\": \"ed0c2a68b6t\"\n      \"expires_at\": null,\n    }\n  ]\n}"}}}}}},"deprecated":false},"post":{"summary":"Create","description":"Service Token","operationId":"config-token-create","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["project","config","name"],"properties":{"project":{"type":"string","description":"Unique identifier for the project object.","default":"PROJECT_NAME"},"config":{"type":"string","description":"Name of the config object.","default":"CONFIG_NAME"},"name":{"type":"string","description":"Name of the service token.","default":"TOKEN_NAME"},"expire_at":{"type":"string","description":"Unix timestamp of when token should expire.","format":"date-time"},"access":{"type":"string","description":"Token's capabilities.","default":"read","enum":["read","read/write"]}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"name\": \"AWS Lambda\",\n  \"slug\": \"56c69f96-3045-11ea-978f-2e728ce88125\",\n  \"created_at\": \"2019-11-19T07:19:01.073Z\",\n  \"key\": \"dp.st.gJ23agW5s09x4TKLMJMc4OPIr9fCm3bIs0QAC2L5\",\n  \"config\": \"dev\",\n  \"environment\": \"dev\",\n  \"project\": \"ed0c2a68b6t\"\n  \"expires_at\": null,\n  \"access\": \"read\"\n}"}}}}}},"deprecated":false}},"/v3/configs/config/tokens/token":{"delete":{"summary":"Delete","description":"Service Token","operationId":"config-token-delete","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["project","config","slug"],"properties":{"project":{"type":"string","description":"Unique identifier for the project object.","default":"PROJECT_NAME"},"config":{"type":"string","description":"Name of the config object.","default":"CONFIG_NAME"},"slug":{"type":"string","description":"The slug of the service token.","default":"TOKEN_NAME"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"success\": true\n}"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true}}}}}}},"deprecated":false}},"/v3/configs/config/clone":{"post":{"summary":"Clone","description":"Create a new branch config by cloning another. This duplicates a branch config and all its secrets.","operationId":"config-clone","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["project","config","name"],"properties":{"project":{"type":"string","description":"Unique identifier for the project object.","default":"PROJECT_NAME"},"config":{"type":"string","description":"Name of the branch config being cloned.","default":"CONFIG_NAME"},"name":{"type":"string","description":"Name of the new branch config.","default":"NEW_CONFIG_NAME"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"config\": {\n    \"name\": \"prd_aws\",\n    \"root\": false,\n    \"locked\": false,\n    \"initial_fetch_at\": \"2019-11-19T07:32:12.000Z\",\n    \"last_fetch_at\": \"2019-11-19T07:36:10.980Z\",\n    \"created_at\": \"2019-11-19T07:19:00.480Z\",\n    \"environment\": \"prd\",\n    \"project\": \"ed0c2a68b6\"\n  }\n}"}},"schema":{"type":"object","properties":{"config":{"type":"object","properties":{"name":{"type":"string","example":"prd_aws"},"root":{"type":"boolean","example":false,"default":true},"locked":{"type":"boolean","example":false,"default":true},"initial_fetch_at":{"type":"string","example":"2019-11-19T07:32:12.000Z"},"last_fetch_at":{"type":"string","example":"2019-11-19T07:36:10.980Z"},"created_at":{"type":"string","example":"2019-11-19T07:19:00.480Z"},"environment":{"type":"string","example":"prd"},"project":{"type":"string","example":"ed0c2a68b6"}}}}}}}}},"deprecated":false}},"/v3/configs/config/lock":{"post":{"summary":"Lock","description":"Prevent the config from being renamed or deleted.","operationId":"config-lock","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["project","config"],"properties":{"project":{"type":"string","description":"Unique identifier for the project object.","default":"PROJECT_NAME"},"config":{"type":"string","description":"Name of the config.","default":"CONFIG_NAME"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"config\": {\n    \"name\": \"prd_aws\",\n    \"root\": false,\n    \"locked\": true,\n    \"initial_fetch_at\": \"2019-11-19T07:32:12.000Z\",\n    \"last_fetch_at\": \"2019-11-19T07:36:10.980Z\",\n    \"created_at\": \"2019-11-19T07:19:00.480Z\",\n    \"environment\": \"prd\",\n    \"project\": \"ed0c2a68b6\"\n  }\n}"}},"schema":{"type":"object","properties":{"config":{"type":"object","properties":{"name":{"type":"string","example":"prd_aws"},"root":{"type":"boolean","example":false,"default":true},"locked":{"type":"boolean","example":true,"default":true},"initial_fetch_at":{"type":"string","example":"2019-11-19T07:32:12.000Z"},"last_fetch_at":{"type":"string","example":"2019-11-19T07:36:10.980Z"},"created_at":{"type":"string","example":"2019-11-19T07:19:00.480Z"},"environment":{"type":"string","example":"prd"},"project":{"type":"string","example":"ed0c2a68b6"}}}}}}}}},"deprecated":false}},"/v3/configs/config/unlock":{"post":{"summary":"Unlock","description":"Allow the config to be renamed and/or deleted.","operationId":"config-unlock","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["project","config"],"properties":{"project":{"type":"string","description":"Unique identifier for the project object.","default":"PROJECT_NAME"},"config":{"type":"string","description":"Name of the config.","default":"CONFIG_NAME"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"config\": {\n    \"name\": \"prd_aws\",\n    \"root\": false,\n    \"locked\": false,\n    \"initial_fetch_at\": \"2019-11-19T07:32:12.000Z\",\n    \"last_fetch_at\": \"2019-11-19T07:36:10.980Z\",\n    \"created_at\": \"2019-11-19T07:19:00.480Z\",\n    \"environment\": \"prd\",\n    \"project\": \"ed0c2a68b6\"\n  }\n}"}},"schema":{"type":"object","properties":{"config":{"type":"object","properties":{"name":{"type":"string","example":"prd_aws"},"root":{"type":"boolean","example":false,"default":true},"locked":{"type":"boolean","example":false,"default":true},"initial_fetch_at":{"type":"string","example":"2019-11-19T07:32:12.000Z"},"last_fetch_at":{"type":"string","example":"2019-11-19T07:36:10.980Z"},"created_at":{"type":"string","example":"2019-11-19T07:19:00.480Z"},"environment":{"type":"string","example":"prd"},"project":{"type":"string","example":"ed0c2a68b6"}}}}}}}}},"deprecated":false}},"/v3/workplace/users":{"get":{"summary":"Workplace Users","description":"Get all users of a workplace","operationId":"audit-workplace-users-retrieve","parameters":[{"name":"settings","in":"query","description":"If true, the api will return more information if users have e.g. SAML enabled and/or Multi Factor Auth enabled","schema":{"type":"boolean"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"workplace_users\": [\n    {\n      \"id\": \"45786c9a-8c97-4f5b-a35b-ce941796502b\",\n      \"access\": \"owner\",\n      \"created_at\": \"2020-09-01T23:57:27.052Z\",\n      \"user\": {\n        \"email\": \"test@example.com\",\n        \"name\": \"Adam Smith\",\n        \"username\": \"adam_smith\",\n        \"profile_image_url\": \"https://www.gravatar.com/avatar/12345678?s=500&d=retro\",\n        \"mfa_enabled\": false,\n        \"thirdparty_sso_enabled\": true,\n        \"saml_sso_enabled\": false\n      }\n    }\n  ],\n  \"page\": 1,\n  \"success\": true\n}"}},"schema":{"type":"object","properties":{"workplace_users":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"45786c9a-8c97-4f5b-a35b-ce941796502b"},"access":{"type":"string","example":"owner"},"created_at":{"type":"string","example":"2020-09-01T23:57:27.052Z"},"user":{"type":"object","properties":{"email":{"type":"string","example":"test@example.com"},"name":{"type":"string","example":"Adam Smith"},"username":{"type":"string","example":"adam_smith"},"profile_image_url":{"type":"string","example":"https://www.gravatar.com/avatar/12345678?s=500&d=retro"},"mfa_enabled":{"type":"boolean","example":false,"default":true},"thirdparty_sso_enabled":{"type":"boolean","example":true,"default":true},"saml_sso_enabled":{"type":"boolean","example":false,"default":true}}}}}},"page":{"type":"integer","example":1,"default":0},"success":{"type":"boolean","example":true,"default":true}}}}}}},"deprecated":false}},"/v3/workplace/users/{workplace_user_id}":{"get":{"summary":"Workplace User","description":"Get a specific user in a workplace","operationId":"audit-workplace-user-retrieve","parameters":[{"name":"workplace_user_id","in":"path","description":"The ID of the workplace user","schema":{"type":"string"},"required":true},{"name":"settings","in":"query","description":"If true, the api will return more information if the user has e.g. SAML enabled and/or Multi Factor Auth enabled","schema":{"type":"boolean"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"workplace_user\": {\n    \"id\": \"9629f890-eb33-426c-8694-28ce363b44f0\",\n    \"access\": \"owner\",\n    \"created_at\": \"2021-01-08T02:43:20.524Z\",\n    \"user\": {\n      \"email\": \"ruud.visser@doppler.com\",\n      \"name\": \"Ruud Visser\",\n      \"username\": \"ruud\",\n      \"profile_image_url\": \"https://lh3.googleusercontent.com/a-/AOh14Ggx8--xAHCMfmrNwV3hVGWrwSicyaALmjvu5of1=s96-c\",\n      \"mfa_enabled\": false,\n      \"thirdparty_sso_enabled\": true,\n      \"saml_sso_enabled\": false\n    }\n  },\n  \"success\": true\n}"}},"schema":{"type":"object","properties":{"workplace_user":{"type":"object","properties":{"id":{"type":"string","example":"9629f890-eb33-426c-8694-28ce363b44f0"},"access":{"type":"string","example":"owner"},"created_at":{"type":"string","example":"2021-01-08T02:43:20.524Z"},"user":{"type":"object","properties":{"email":{"type":"string","example":"ruud.visser@doppler.com"},"name":{"type":"string","example":"Ruud Visser"},"username":{"type":"string","example":"ruud"},"profile_image_url":{"type":"string","example":"https://lh3.googleusercontent.com/a-/AOh14Ggx8--xAHCMfmrNwV3hVGWrwSicyaALmjvu5of1=s96-c"},"mfa_enabled":{"type":"boolean","example":false,"default":true},"thirdparty_sso_enabled":{"type":"boolean","example":true,"default":true},"saml_sso_enabled":{"type":"boolean","example":false,"default":true}}}}},"success":{"type":"boolean","example":true,"default":true}}}}}}},"deprecated":false}},"/v3/configs/config/secrets/download":{"get":{"summary":"Download","description":"Download Secrets","operationId":"config-secret-download","parameters":[{"name":"project","in":"query","description":"Unique identifier for the project object. Not required if using a Service Token.","required":true,"schema":{"type":"string"}},{"name":"config","in":"query","description":"Name of the config object. Not required if using a Service Token.","required":true,"schema":{"type":"string"}},{"name":"format","in":"query","schema":{"type":"string","enum":["json","dotnet-json","env","yaml","docker","env-no-quotes"],"default":"json"}},{"name":"name_transformer","in":"query","description":"Transform secret names to a different case","schema":{"type":"string","enum":["camel","upper-camel","lower-snake","tf-var","dotnet","dotnet-env"]}},{"name":"include_dynamic_secrets","in":"query","description":"Whether or not to issue leases and include dynamic secret values for the config","schema":{"type":"boolean","default":false}},{"name":"dynamic_secrets_ttl_sec","in":"query","description":"The number of seconds until dynamic leases expire. Must be used with `include_dynamic_secrets`. Defaults to 1800 (30 minutes).","schema":{"type":"integer","format":"int32","default":1800}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"STRIPE\": \"sk_test_9YxLnoLDdvOPn2dfjBVPB\",\n  \"ALGOLIA\": \"N9TOPUCTO\",\n  \"DATABASE\": \"brian@aws.dynamodb.com:9876\",\n  \"USER\": \"brian\"\n}"}},"schema":{"type":"object","properties":{"STRIPE":{"type":"string","example":"sk_test_9YxLnoLDdvOPn2dfjBVPB"},"ALGOLIA":{"type":"string","example":"N9TOPUCTO"},"DATABASE":{"type":"string","example":"brian@aws.dynamodb.com:9876"},"USER":{"type":"string","example":"brian"}}}}}}},"deprecated":false}},"/v3/configs/config/dynamic_secrets/dynamic_secret/leases":{"post":{"summary":"Issue Lease","description":"Issue a lease for a dynamic secret","operationId":"dynamic-secret-issue-lease","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["project","config","dynamic_secret","ttl_sec"],"properties":{"project":{"type":"string","description":"The project where the dynamic secret is located"},"config":{"type":"string","description":"The config where the dynamic secret is located"},"dynamic_secret":{"type":"string","description":"The name of the dynamic secret for which to issue this lease"},"ttl_sec":{"type":"integer","description":"The number of seconds until this lease is automatically revoked","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"success\": true,\n    \"id\": \"59ed03c9-63a7-4789-9187-a3d858355353\",\n    \"expires_at\": \"2022-02-18T20:36:28.427Z\",\n    \"value\": { ... }\n}"}}}}}},"deprecated":false}},"/v3/configs/config/dynamic_secrets/dynamic_secret/leases/lease":{"delete":{"summary":"Revoke Lease","description":"","operationId":"dynamic-secret-revoke-lease","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["project","config","dynamic_secret","slug"],"properties":{"project":{"type":"string","description":"The project where the dynamic secret is located"},"config":{"type":"string","description":"The config where the dynamic secret is located"},"dynamic_secret":{"type":"string","description":"The name of the dynamic secret from which this lease was issued"},"slug":{"type":"string","description":"The slug of the lease to revoke"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{ \"success\": true }"}},"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true,"default":true}}}}}}},"deprecated":false}},"/v3/auth/revoke":{"post":{"summary":"Revoke","description":"Revoke an auth token","operationId":"auth-revoke","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["token"],"properties":{"token":{"type":"string","default":"<YOUR TOKEN>"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":""}}}}}},"deprecated":false,"security":[]}}},"x-readme":{"headers":[],"explorer-enabled":true,"proxy-enabled":false,"samples-enabled":true},"x-readme-fauxas":true}